{% set curPage = 'change_password' %}
{% set title = 'Change Password' %}

{% extends "/user/base/base.html" %}

{% block content %}

<main class="container bg-light p-4 my-4">

  <fieldset class="border w-50 m-auto p-4">
    <legend class="float-none w-auto p-2 fs-5">Change Password</legend>
    <form action="{{request.url}}" method="POST" id="changePassword">
      <div class="mb-3">
        <label for="password" class="form-label required">New Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
      </div>
      <div class="mb-3">
        <label for="confirm_password" class="form-label required">Confirm Password</label>
        <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Update Password</button>
    </form>
  </fieldset>
</main>


{% endblock %}