{% set curPage = 'home' %}
{% set title = 'home' %}

{% extends "/user/base/base.html" %}

{% block content %}

<main class="">
  <div class="home-banner mb-5">
    <div class="d-flex">
      <img src="../../static/images/home-banner.jpg" alt="banner-1" class="img-fluid">
      <img src="../../static/images/home-banner-2.jpg" alt="banner-1" class="img-fluid">
    </div>

    <div class="home-banner-text d-flex flex-column justify-content-center align-items-center">
      <h1>Groceries</h1>
      <p>Incredibly low prices on all GROCERY PRODUCTS</p>
    </div>

  </div>

  <section class="container-fluid">
    <div class="search my-5 bg-white p-5">
      <form action="/products/" id="searchForm" autocomplete="off">

        <div class="row justify-content-center align-items-end">            
          <div class="col-sm-4">
            <label for="q" class="form-label"> Search Product</label>
            <input type="text" name="q" id="q" value="{{request.args.get('q') if request.args.get('q')}}"
              class="form-control">
          </div>
          <div class="col-sm-1">
            <button type="submit" class="btn btn-success">Search</button>
          </div>
        </div>

      </form>
    </div> 
  </section>
  
    

  <section class="all-categories container-fluid mb-5" id="all-categories">
    <h3 class="text-success text-center mb-3">All Categories</h3>
    <div class="d-flex flex-wrap gap-3 justify-content-center">
      {% for item in categories %}
      <div class="card" style="width: 18rem;">
        <img src="../../static/images/uploads/categories/{{item['img_file_name']}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h6 class="card-title text-center mb-3">{{item['name']}}</h6>
          <a href="/sub-categories/?cid={{item['_id']}}" class="btn btn-sm btn-outline-success w-100">View <i></i></a>
        </div>
      </div>
      {% endfor %} 
    </div>
  </section>

 
</main>


{% endblock %}