{% set curPage = 'login' %}
{% set title = 'Login' %}

{% extends "/user/base/base.html" %}

{% block content %}

<main class="content container d-flex">
  <fieldset class="user-login bg-light  border">
    <legend class="float-none w-auto px-2">Login to explore</legend>

    <form action="{{request.url}}" method="POST" id="user-login">
      <h6 class="text-center text-danger">{{msg}}</h6>
      <div class="mb-4">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" required>
      </div>

      <div class="mb-4">
        <label for="email" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-success w-100 mb-4">Login</button>

    </form>
    <p>Don't have an account? <a href="/register/">Register Now</a></p>
  </fieldset>
</main>


{% endblock %}